@(frmUser:Form[UserDetails])
@import helper._

@main{


    <div class="container">
        <div class="jumbotron">
            <h1>ENMT REPORT AUTOMATION</h1>

        </div>
        <div class="row" style="margin-left: 400px">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

            </div>
        </div>

    </div>
            @helper.form(routes.LoginController.autheticate()){



                <div class="container ">

                    @helper.inputText(frmUser("user"))

                    @helper.inputText(frmUser("email"))

                    @helper.inputText(frmUser("password"))
                    <div>
                        <button type="submit" value="Login" style="margin-left: 300px">Login</button>
                    </div>



            </div>










            }





}