@import models.FinalTemplate
@(lstfinal: List[models.FinalTemplate ])
<htm>
    <style type="text/css">
            .containerDiv {
                borderleft: 1px solid black;
                borderbottom: 1px solid black;

            }
            .rowDiv {
                bordertop: 1px solid black;
            }
            .cellDiv {
                borderright: 1px solid black;


                padding: 4px;
            }
    </style>

    <table>

        <tr>
            <th>Pace Number</th>
            <th>Submitters Email</th>

        </tr>

        @for(lst <- lstfinal) {
            <tr>  <th>@lst.getPaceNumber</th>
                <th>@lst.getSubmittersEmail</th>
            </tr>
        }



    </table>
    var sdate;
    Start Date: <input type="text"  id="sdate" name="fname" value=sdate><br>
    End Date: <input type="text" name="lname" value="Doe"><br>

    <form action="@routes.RptController.save()" method="POST">
        java name: <input name="username"> <br />
        java surname: <input name="password"> <br />
        <input type="submit" value="save">
    </form>
</htm>