@import com.avaje.ebean.SqlRow
@(mylist:List[SqlRow],mylstheader:List[SqlRow])




@main{



    <h1>Enmt Submission Report</h1>
   <div>
       Start Date
       <input name="startdDate"></input>
       End Date
       <input name="endDate"></input>

       <input type="button" name="btnsubmit" value="Generate Report">
   </div>
    <br/>
    <table id="contacts" class="table table-striped">
        <thead>
            <tr class="table-hover ">
            @for(index <- 0 until mylstheader.size-1) {
                <th class="table-cell">@mylstheader.get(index).getString("cname")</th>

            }
            </tr>
        </thead>
        <tbody>
        @for(index <- 0 until mylist.size) {
            <tr>

                <td class="table-cell">@mylist.get(index).get("paceno")</td>
                <td class="table-cell">@mylist.get(index).get("email")</td>
                <td class="table-cell">@mylist.get(index).get("type")</td>
                <td class="table-cell">@mylist.get(index).get("location")</td>
                <td class="table-cell">@mylist.get(index).get("rbsid")</td>
                <td class="table-cell">@mylist.get(index).get("usid")</td>
                <td class="table-cell">@mylist.get(index).get("sitestate")</td>
                <td class="table-cell">@mylist.get(index).get("useid")</td>
                <td class="table-cell">@mylist.get(index).get("latitude")</td>
                <td class="table-cell">@mylist.get(index).get("longitude")</td>
                <td class="table-cell">@mylist.get(index).get("gpscablelenthfeet")</td>
                <td class="table-cell">@mylist.get(index).get("gpscabletype")</td>
                <td class="table-cell">@mylist.get(index).get("rbscablelethfeet")</td>
                <td class="table-cell">@mylist.get(index).get("rbscabletype")</td>

            </tr>

        }

        </tbody>
    </table>

}